.dropdown {
    position: relative;
    display: inline-block;
  }

.btnDropdown {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: .3s;
  border-radius: 4px;
}

.btnDropdown:hover,
.btnDropdown:focus {
   background-color: var(--secondary-color);
}

.dropdownContent {
    display: block;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 5;
    transition: .3s;
  }

  .dropdownContent a {
    color: var(--text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .3s;
  }

  .dropdownContent a:hover {
    color: var(--secondary-color);
  }

  @media (max-width: 510px) {
    .dropdown {
      margin: 1rem;
    }
  }