.btnActions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnActions button {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    transition: .3s;
}

.btnActions button:not(.btnAdd) {
    background: var(--primary-color);    
}

.btnAdd {
    background: green;
}

.btnActions button:hover {
    filter: brightness(80%);
}

@media (max-width: 420px) {
    .btnActions button {
        padding: 0.5rem 1rem;
    }
}