.btnActions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnActions button {
    margin: 1rem 1rem 0 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    transition: .3s;
}

.btnControl button {
    background: var(--primary-color);    
}

.btnView {
    background: green;
}

.btnEdit {
    background: orange;
}

.btnDelete {
    background: red;
}

.btnActions button:hover {
    filter: brightness(80%);
}

@media (max-width: 706px) {
    .btnActions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .btnActions button {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 400px) {
    .btnCrud {
        display: flex;
        flex-direction: column;
    }
}