.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background); 
    overflow: hidden; 
}

.crudBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
}

.crudHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: self-start;
    width: 90%;
    margin-bottom: 1rem;
}

.crudHeader h2 {
    grid-column: 1/3;
    font-family: var(--font-primary);
    color: var(--primary-color);
    text-align: center;
}

@media (max-width: 706px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .crudBodyContainer {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .crudHeader {
        display: flex;
        flex-direction: column;
    }
}