.userHeader {
    display: flex;
    padding: 2rem 0 2rem 4rem;
    align-items: center;
    background: url('../../Assets/bg.jpg') no-repeat center center;
    background-size: cover;
    grid-column: 1/3;
    height: 25vh;
}

.userHeader h2{
    color: white;
    font-family: var(--font-secondary);
}

@media (max-width: 640px) {
    .userHeader {
        flex-direction: column;
        height: 20vh;
        justify-content: center;
        background: url('../../Assets/bg.jpg');
        padding: 1rem;
    }
}

