.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer button {
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.mainContainer button:hover {
    transform: scale(1.1);
}

.mainContainer svg {
    height: 100px;
    width: 100px;
    margin: 2rem;
}