.mainContainer:before {
    content: '';
    background: url('../Assets/bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 20vh;
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.mainContainer {
    height: 89vh;
    display: flex;
}

.mainContainer:after {
    content: '';
    background: var(--background);
    width: 100%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
