.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .85);
}

.footer h2 {
    margin-bottom: 1.5rem;
    border-bottom: 3px solid white;
    color: white;
    font-family: var(--font-secondary);
    font-size: 1.5rem;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contactItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactItem p a{
    color: white;
    font-family: var(--font-primary);
}

.contactItem svg {
    height: 30px;
    width: 30px;
}

@media (max-width: 640px) {
    .contact {
        grid-template-columns: 1fr;
    }
    .contactItem {
        margin-bottom: 1.3rem;
    }
}

