.header {
    background: linear-gradient(270deg, rgba(194,161,47,1) 0%, rgba(148,113,53,1) 100%);
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .2);
}
.header img {
    height: 40px;
    width: 80px;
}

label {
    position: relative;
}

.search {
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    padding: .5rem;
    right: 0;    
}

input {
    padding: 0.5rem;
    width: 300px;
    border-radius: 20px;
}

.notification,
.logout {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    margin: 0 1rem;
    cursor: pointer;
}

.notification svg,
.logout svg {
    height: 20px;
    width: 20px;
}

@media (max-width: 640px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 1rem;
        gap: 1rem;
    }
    .searchBar {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}