.sidebar {
    height: 100vh;
    position: relative;
}
.nav {
    background: white;
    box-shadow: 15px 0px 20px -10px rgba(0,0,0,0.5);
    height: 89vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    transition: .3s;
    position: relative;
}

.listItem {
    border-bottom: 1px solid var(--text);
}

.listItem:last-child {
    border-bottom: none;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}

.listItem a {
    margin-left: .5rem;
}

.listItem p {
    color: #333;
    text-align: center;
    font-size: 0.875rem;
    font-family: var(--font-primary);
}

.sidebar a p {
    transition: .3s;
}

.sidebar a p:hover {
    color: var(--primary-color);
}

.sidebar svg {
    height: 25px;
    width: 25px;
    margin-bottom: .5rem;
}

.panelOpen,
.panelClosed {
    background: var(--primary-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.panelOpen:hover,
.panelClosed:hover {
    background: var(--secondary-color);
}

.panelOpen {
    position: absolute;
    right: 10px;
    top: 8px;
}

.panelClosed {
    position: absolute;
    left: 20px;
    top: 10px;
}