.card {
    width: 400px;
    background: white;
    border-radius: 8px;
    
}
.titleText {
    background: var(--primary-color);
    padding: .5rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: white;
}
p {
    line-height: 1.4;
    padding: 1rem;
    font-family: var(--font-primary);
}