.container {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titles{
    color: white;
    font-family: var(--font-secondary);
}

.userHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
}

.userHeader p{
    font-family: var(--font-primary);
    text-align: center;
}

.cardText {
    padding: 0 3rem;
    grid-column: 2;
    justify-self: end;
}