.card {
    width: 400px;
    background: white;
    border-radius: 4px;
    box-shadow: 3px 2px 23px 0px var(--text);
    text-align: center;   
}

.titleText {
    background: var(--primary-color);
    padding: 1rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: white;   
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text p {
    max-width: 320px;
    line-height: 1.4;
    font-family: var(--font-primary);
    padding: 1rem 0;
}