.container {
    height: 100%;
    width: 100%;
    display: grid;
    background: var(--background); 
    overflow: hidden; 
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.cardText {
    padding: 0 3rem;
    grid-column: 2;
    justify-self: end;
}

@media (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cardContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cardText {
        padding: 0;
    }
}